*{padding: 0; margin: 0; box-sizing: border-box; font-size: 24px; font-family: Arial, Helvetica, sans-serif;}





.flex__container {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    height: 100vh;

}


.flex__item { 
    flex-basis: 20%;
    flex-grow:0;
    flex-shrink: 1;
    /*otra forma*/
    flex:0 1 20%;
    display: flex ;
}

.flex__item--1{
    order: 1;
}

.flex__item--2 {
  order:2
}

.flex__item--3{
    order: 3;
   
}

.flex__item--4{
    order: 4;
}

.flex__item--5{
    order: 5;
    align-self: flex-end;
    
}