 /*GRADIENTES
.gradient {
   
    height: 500px;
    background-color: #0000ff;
    background: linear-gradient(180deg, #FF0 0%, #0f0 50%, #f00 100%);
    background: linear-gradient(to bottom, yellow, red, green);
    background: linear-gradient(to left, red 25%, red 50%, blue 50%, blue 75%, green 75%, );

    background: repeating-linear-gradient(red 10%, yellow 20%, green 31%)
} */


/*SHADOW*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.shadow {
    flex-basis: 40%;
    height: 200px;
    background-color: #0000ff;
    box-shadow: inset 0px 0px 40px 5px red;
    inset: 0px 0px 50px 4px yellow;
    /*box-shadow: desface-X desface-Y desenfoque expansion color */
}
/*
.text-shadow {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;

    text-shadow: 20px 10px 5px #ff0000;
}*/
