*{padding: 0; margin: 0; border:none; box-sizing: border-box;}


header{
    background-color: #222;
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.header__logo{
    background-color: #ff7fe8;
    border-radius: 10px;
    padding: 5px;
}

li{
    list-style: none; 
    display: inline;
    margin-left: 10px;
    margin-right: 20px;
}

a{
    color: #ffffff;
    text-decoration: none;
}
